<link rel="stylesheet" href="css/app.css">

<div class="px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800 w-full h-200" style="cursor: auto; width: 400px;  margin-top: 50px; margin-bottom: 50px;">
    <div class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline">Forgot your password?</div>
    <h1 class="mb-8 text-3xl text-center dark:text-white">No problem! Enter your email address and we will email you a new password reset link</h1>  
      <form action="/Register/forgotPassword" method="POST" class="mt-2 text-gray-600 dark:text-gray-300">
                  <input 
                      type="text"
                      class="block border border-grey-light w-full p-3 rounded mb-4"
                      name="email"
                      placeholder="Email" required/>
                  <button
                      type="submit"
                      class="w-full text-center py-3 rounded bg-blue-700 text-white hover:bg-green-dark focus:outline-none my-1"
                  >Reset Password</button> 
              </form>
      <div>
        <div>
            <a href="/Register/register" class="text-blue-600 dark:text-blue-400 hover:underline">Create new account ⟶</a> 
        </div>
        <div>
            <a href="/Register/signIn" class="text-blue-600 dark:text-blue-400 hover:underline">Already have an account? Sign in here! ⟶</a> 
        </div>  
      </div>        
</div>