<form action="/Register/create" method="POST">
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <input type="submit" value="Submit">
</form>

<!-- <form action="/signup" method="post"> -->
<!--     <label for="name">Name</label> -->
<!--     <input type="text" name="name"> -->
<!--     <label for="email">Email</label> -->
<!--     <input type="email" name="email"> -->
<!--     <input type="submit" value="Submit"> -->
<!-- </form> -->
