<% if (loggedIn) { %>
<div class="px-3 py-3 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto; width: 1000px; height: 400px; margin-top: 50px; margin-bottom: 100px;">
    <div class="px-4 py-5 sm:px-6">
      <h2 class="text-lg leading-6 font-medium text-gray-200">Profile</h2>
      <p class="mt-1 max-w-2xl text-sm text-gray-100"><%= currentUser.name %></p>
    </div>
    <div class="border-t border-gray-200">
      <dl>       
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-800">Email address</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= currentUser.email %></dd>
        </div>        
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-800">Your Polls</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">  
        
                <a href ="/polls">Show your Polls!  </a>            
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-800">Participated Polls</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <a href ="/singlePoll""> show your created polls </a></dd>
        </div>
      </dl>
    </div>
  </div>
  
    </dl>
  </div>
</div>
<% } %>
