<link rel="stylesheet" href="css/app.css">
<div class="px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800" style="cursor: auto; width: 400px; height: 400px; margin-top: 50px; margin-bottom: 50px;">
    <div class="mt-2">
      <div class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline">Reset password</div>
        <form action="/Register/resetPassword" method="POST" class="mt-2 text-gray-600 dark:text-gray-300">
            <div><b>Enter your email address and a new password</b></div>
            <div class="form-group">
                <label for="inputEmail">Email: </label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="sample@poller.com" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password: </label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="choose a good one!" required>
            </div>
            <div class="form-group">
                <label for="inputPasswordTwo">Repeat Password: </label>
                <input type="password" name="passwordTwo" id="inputPasswordTwo" class="form-control" placeholder="repeat password" required>
            </div>
        </br>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm new password</button>
        </form> 
        <div>
            <a href="/Register/register" class="text-blue-600 dark:text-blue-400 hover:underline">Create new account ⟶</a> 
        </div>
        <div>
            <a href="/Register/signIn" class="text-blue-600 dark:text-blue-400 hover:underline">Already have an account? Sign in here! ⟶</a> 
        </div>       
    </div> 
</div>