<div id="nav">
    <div>Poll App</div>
    <a href="/">Home</a>
    <a href="Events">Events</a>
    <a href="VotedEvents">Voted Events</a>
    <a href="Profile">Profile</a>
    <a href="Register">Register</a>
</div>