<link rel="stylesheet" href="css/app.css">
<body>
    <div>
        <h1>This is the Event: <%= event.title %> </h1>
        <div><b>If you want to add an answer, please submit here:</b></div>
        <form class="vote-create" action="/" method="post">
            <label for="suggestText">Name your vote</label>
            <input type="text" id="suggestText" placeholder="Describe your vote">
            <input type="submit" value="submit">
        </form>

        <form class="vote-submit" action"/" method="post">
            <label>Pick your vote:</label>
            
            <% for (var i = 0; i < event.options.length; i++) { %>
                <input type="radio" name="radiovote"  value=<%= event.options[i] %> 
                <label for="event.options[i]"> <%= event.options[i] %> </label>
            <% } %>

            <input type="submit" value="submit">
    </div>
</body>