<link rel="stylesheet" href="css/app.css">

<div>
    <% event %>
    <h1>This is the Event: <%= event.title %> </h1>
    <form class="vote-form" action="/" method="post">
        <label for="suggestText">Name your vote</label>
        <input type="text" id="suggestText" name="firstname" placeholder="Describe your vote">
        <input type="submit" value="submit">
    </form>
</div>
<div>This must be implemented</div>