<link rel="stylesheet" href="css/app.css" />
<div class="px-8 py-4 mx-auto bg-white rounded-lg shadow-md dark:bg-gray-800 w-full h-200" style="cursor: auto; width: 400px; margin-top: 50px; margin-bottom: 50px">
    <h1 class="mb-8 text-3xl text-center dark:text-white">Chat</h1>
    <form id="chatForm" class="mt-2 text-gray-600 dark:text-gray-300">
        <input type="text" id="chat-input" class="block border border-grey-light w-full p-3 rounded mb-4"/>
        <button type="submit" class="w-full text-center py-3 rounded bg-blue-700 text-white hover:bg-green-dark focus:outline-none my-1">
            Submit
        </button>
    </form>
    <div id="chat" style="color:chocolate"></div> <!--Should be a box where the messages appear-->
</div>