<link rel="stylesheet" href="css/app.css">
<script src="https://cdn.tailwindcss.com"></script>
<h1 class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 h-full">Hello, this is the home page here we would ask all the possible ids and show them here!</h1>
  