*,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

  html,
  body {
    height: 100%;

  }

#title {
    color: #253b56;
}

#events {
    height: calc(100vh - 120px);
}

#events-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

#event {
    color: #8294aa;
    padding: 10px;
    border-radius: 10px;
    transition: background-color, color 0.25ms ease-in-out;
    box-shadow: 0 5px 8px rgba(0,0,0,0.30), 0 5px 4px rgba(0,0,0,0.22);
}

#event:hover {
    background-color: #8294aa;
    color: #253b56;
    cursor: pointer;
}

#container {
   min-height:100%;
   position:relative;
}

#footer {
   width:100%;
   height:60px; 
   background:#6cf;
}

#nav {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background:#6cf;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
}

#eventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 50vh;
  font-family: 'Exo 2', sans-serif;
}

input[type="submit"] {
  transform: translate(2.2%);
  padding: 3px;
  margin-top: 0.6rem;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
 }
